# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test

# additional tmp stuff that may exist that shouldn't be tracked
*~
*.out
out/*
*.bak
*.log

# don't archive the json output...this may expand as 
# output handling gets expanded, or it may be deleted
*.json
