# This is for CentOS 6.3 and later for x66_86
# The goal is to end up with a minimal os install so that only what is needed
# can be installed on each machine. This is determined by the configuration
# management system, or whatever downstream process you are using to get 
# your nodes consistent with their usage in your environment. 
#
# This minimal install does not make any assumptions about that, other than the
# target is development with Vagrant, whose user can be removed downstream.

#version=DEVEL
install
cdrom

lang en_US.UTF-8
keyboard us
network --onboot yes --device eth0 --bootproto dhcp --noipv6
rootpw --iscrypted $6$0wGXpNTXjYmoEusc$Iv6PEC468.cyyCLdP.6MUP.C3DzgYqisI6qyGeumkAKg0UGYEpaAURqx7EubHc3n9TmPPG8nDnEQYms1IZd31
firewall --service=ssh
authconfig --enableshadow --passalgo=sha512
selinux --enforcing
timezone --utc UTC
bootloader --location=mbr --driveorder=sda --append="nomodeset crashkernel=auto rhgb quiet"

text
skipx
zerombr
clearpart --all --initlabel
autopart

firstboot --disabled
reboot
%packages --nobase --ignoremissing
@Core
bzip2

%end

# Appended for Vagrant
%post
wget -O/etc/pki/tls/certs/ca-bundle.crt http://curl.haxx.se/ca/cacert.pem
groupadd vagrant -g 500
useradd vagrant -g vagrant -G wheel -u 500
echo "vagrant" | passwd --stdin vagrant
echo "vagrant        ALL=(ALL)       NOPASSWD: ALL" >> /etc/sudoers.d/vagrant
sed -i "s/^.*requiretty/#Defaults requiretty/" /etc/sudoers
%end