archive_prior_build = false
conf_dir = "conf/json"
example = false
example_dir = "examples"
format = "json"
log = true
log_file = "rancher.log"
log_level_file = "TRACE"
log_level_stdout = "TRACE"
param_delim_start = ":"
