{
  "description": "Example Rancher template",
  "name": ":build_name",
  "output_dir": "packer_templates/:build_name",
  "source_dir": "packer_resources",
  "include_component_string": "true",
  "min_packer_version": "0.7.0",
  "builder_types": [
    "virtualbox-iso",
	"vmware-iso"
  ],
  "provisioner_types": [
    "shell"
  ],
  "post_processor_types": [
    "vagrant"
  ],
  "builders": {
	"common": {
      "settings": [
        "boot_command = boot.command.example",
        "boot_wait = 5s",
        "disk_size = 20000",
        "guest_os_type = ",
        "headless = true",
        "http_directory = http",
        "iso_checksum_type = sha256",
        "output_directory = :out_dir",		
        "shutdown_command = shutdown.command.example",
        "ssh_password = packer",
        "ssh_port = 22",
        "ssh_username = packer",
        "ssh_wait_timeout = 30s",
        "vm_name = :build_name"
      ]
    },
    "amazon-chroot": {
      "settings": [
	    "access_key=YOUR KEY HERE",
		"ami_name:packer-amazon-chroot {{timestamp}}",
		"secret_key:YOUR SECRET KEY HERE",
		"source_ami:ami-e81d5881"
      ]
    },
    "amazon-ebs": {
      "settings": [
	    "access_key=YOUR KEY HERE",
        "ami_name:packer-quick-start {{timestamp}}",
        "instance_type=t1.micro",
        "region=us-east-1",
        "secret_key:YOUR SECRET KEY HERE",
        "source_ami:ami-de0d9eb7",
        "ssh_username=ubuntu"
      ]
    },
    "amazon-instance": {
      "settings": [
        "access_key=YOUR KEY HERE",
        "account_id=0123-4567-0890",
        "ami_name=packer-quick-start {{timestamp}}",
        "instance_type=m1.small",
        "region=us-east-1",
        "s3_bucket=packer-images",
        "secret_key=YOUR SECRET KEY HERE",
        "source_ami=ami-d9d6a6b0",
        "ssh_username=ubuntu",
        "x509_cert_path=x509.cert",
        "x509_key_path=x509.key",
        "x509_upload_path=/tmp"
      ]
    },
	"digitalocean": {
      "settings": [
        "api_token=YOUR API KEY",
        "image=ubuntu-12-04-x64",
        "region=nyc2",
        "size=512mb"
      ]
    },
    "googlecompute": {
      "settings": [
        "account_file=account.json",
        "project_id=mu-project",
        "source_image=debian-7-wheezy-v20150127",
        "zone=us-central1-a"
      ]
	},
     "nullbuilder": {
        "settings": [
          "ssh_host=127.0.0.1",
          "ssh_username=foo",
          "ssh_password=bar"
        ]
    },
    "virtualbox-iso": {
      "settings": [
        "guest_additions_path = VBoxGuestAdditions_{{ .Version }}.iso",
        "virtualbox_version_file = .vbox_version"
      ]
    },
    "virtualbox-ovf": {
      "settings": [
        "source_path=source.ovf"
      ]
    }
  },
  "post_processors": {
    "compress": {
      "settings": [
        "output=archive.tar.lz4"
      ]
    },
    "docker-import": {
      "settings": [
        "repository=mitchellh/packer",
        "tag=0.7"
      ]
    },
	"docker-push": {
    },
	"docker-save": {
      "settings": [
        "path=foo.tar"
      ]
    },
    "docker-tag": {
      "settings": [
        "repository=mitchellh/packer",
        "tag=0.7"
      ]
    },
    "vagrant": {
      "settings": [
        "compression_level = 1",
        "include: [\"image.iso\"]",
          "vagrantfile_template=vagrantfile.tpl",
          "output=proxycore_{{.Provider}}.box"
      ],
      "override": {
        "vmware": [
          "compression_level=0"
        ]
      }
    },
    "vagrant-cloud": {
      "settings": [
        "box_tag=hashicorp/precise64",
        "access_token={{user `cloud_token`}}",
        "version={{user `version`}}"
      ]
    },
    "vsphere": {
      "settings": [
        "cluster=vSphereCluster",
        "datacenter=dc-east-1",
        "datastore=ds-001",
        "host=vsphere-host",
        "password=packer",
        "username=packer",
        "vm_name=packer-vshpere-vm"
      ]
    }
  },
  "provisioners": {
    "ansible-local": {
      "settings": [
        "playbook_file=local.yml"
      ]
    },
    "chef-client": {
      "settings": [
        "server_url=https://mychefserver.com/"
      ]
    },
    "chef-solo": {
      "arrays": {
        "cookbook_paths": [
          "cookbooks"
        ]
      }
    },
	"file": {
      "settings": [
         "source=app.tar.gz",
         "destination=/tmp/app.tar.gz"
       ]
    },
    "powershell": {
      "settings": [
        "inline=dir c:\\"
      ]
    },
    "puppet-masterless": {
      "settings": [
        "manifest_filie=site.pp"
      ]
    },
    "puppet-server": {
      "settings": [
        "options=--test --pluginsync"
      ],
      "arrays": {
        "facter": [
          "server_role = webserver"
        ]
      }
    },
	"salt-masterless": {
       "settings": [
          "local_state_Tree=/Users/me/salt"
       ]
    },
    "shell": {
      "settings": [
        "inline=[\"echo foo\"]"
      ],
      "arrays": {
        "scripts": [
          "setup.sh",
          "sudoers.sh",
          "packer.sh",
          "cleanup.sh"
        ]
  	  }
    },
    "shell-local": {
      "settings": [
         "command=\"echo foo\""
      ]
    },
    "windows-restart": {
    },
    "windows-shell": {
      "settings": [
        "inline=dir c:\\"
      ]
    }	
  }
}
